footer#globalfooter {
	/*
	let's give the footer an ID of 'globalfooter', and scope all of
	its contained styles under that.
	*/
	background-color:#000000;
	color:$white;
	padding-top:30px;
	@if $cec {
		padding-bottom:30px;
		text-align: center;
	}
	@else {
		padding-bottom:40px;
	}
	position:relative;
	@if $cec {
		@media (max-width: $screen-xs-max) {
			padding-top:10px; 
		}
		.container {
			width: 100%;	//Left aling footer content
			@media (min-width: $screen-sm-min) {
				max-width: 90%; //Prevent content from overflowing viewport
			}
		}
		.row {
			margin-left: auto; 
			margin-right: auto;
		}
		.footer-main {
			@media (min-width: $screen-sm-min) {
				margin-bottom: .9em; 	
			}
			p {
				margin-top: .5em;
				font-size: 1.1em;
				margin-left: auto;
				margin-right: auto;
  			@media (min-width: $screen-sm-min) {
    			font-size: 1.3em;
    			margin-left: 1.3em;
    			display: inline;
    			vertical-align: sub;
    		}	    		
			}
		}
	}
	ul, li {
		list-style-type:none;
		margin:0;
		padding:0.5rem 0 0.5rem 0;
	}
	.footer-logo {
		//CEC uses a standard src image, while BCSR uses a background image
		@if $cec {
			@media (min-width: $screen-sm-min) {
				display: inline;
			}
		}
		a {
			@if $cec {
				img {
					max-width: 175px;
				}
			}
			@else {
				display:inline-block;
				width:184px;
				height:91px;
				background-image:url(/_images/bcsr-logo-184x91.png);
				background-size:cover;
				background-repeat:no-repeat;
			}
			&:hover {
				text-decoration:none;
			}
			//outline image
			&:focus {
  			box-shadow: 
  				1px 0px 0px 10px black, 
  				1px 0px 0px 12px #efefef;
			}
		}
	}
	@if $cec {
		//bard logo
		.footer-logo-secondary {
			text-align: center; 
			margin-top: 0;
			img {
				width: 55px;
			}
			
		}
	}
	a {
		color:inherit;
		&.fa-a {
			display:block;
			width:40px;
			height:40px;
			display:table;
			border-radius:100px;
			background-color:$white;
			float:left;
			margin-left:0.5rem;
			transition:background-color 0.25s;
			&:first-child {
				margin-left:0;
			}
			.fa {
				color:$dark-gray;
				display:table-cell;
				width:100%;
				height:100%;
				text-align:center;
				vertical-align:middle;
				font-size:2.25rem;
				transition:color 0.25s;
			}
			&:hover,
			&:focus {
				background-color:$red;
				text-decoration:none;
				.fa {
					color:$white;
					
				}
			}
		}
	}
	.clearfix {
		text-align:center;
	}
	ul.contact-info-list {
		@if $cec { 
			padding-top: 0;
			max-width: 100%;
		}
		@media (min-width:$screen-md-min) {
			text-align:center;
		}
		&.small {
			color:$light-gray;
		}
		li {
			list-style-type:none;
			@media (min-width: $screen-md-min) {
				display:inline-block;
				margin-left:1rem;
				margin-right:1rem;
			}
			@if $cec {
				&.footer-logo-secondary {
					display: block;
					padding-top: .25rem;
					h4 {
						margin-top: 0;
					}
				}
			}
		}
	}
	
	a.oulogin {
		display:none;
		@media (min-width:$screen-lg-min) {
			position: absolute;
			bottom: 0px;
			left: 0px;
			width: 45px;
			height: 45px;
			display: block;
			z-index: 11;
		}
	}
}


//gatekeeper pages have minimal text footer instead of global footer
#footer-gatekeeper {
	font-size: .7em;
	line-height: 1.6em; //large line height to allow for accessible vertical spacing between links
	text-align: center;
	padding-bottom: $padding-large-vertical*2;
	@media (min-width:$screen-md-min) {
		font-size: .7em;
		line-height: 1.4em;
	}
}
