/*hanging block quote*/
blockquote:before, blockquote p.blockquote-last:after {
	@media screen and (min-width:$screen-md-min) {
		color: lighten($blue, 18%); /*lighten the hanging quotes when larger font-size is used */
	}
}

/*add a hanging quote*/
blockquote:before {
    content: '\201C';
  	font-size: 4.3em;
  	text-indent: -.5em;
  	float: left;
  	@media screen and (max-width:$screen-md-min) {
		font-size: 3rem;
	}
	@media screen and (min-width:$screen-md-min) {
		font-size: 4em;
		text-indent: -.4em;	
		position: relative; 
  		top: .5rem;
  		top: 1.5rem;
  		line-height: 1rem;
	}
}

/*add a large quote at end of blockquote*/
blockquote p.blockquote-last:after {
	content: '\201D';
	font-size: 1.8em;
	position: relative; 
	line-height: 0;
  	@media screen and (min-width:$screen-lg-min) {
  		top: 1.3rem;
  	}
  	@media screen and (min-width:$screen-md-min) {
  		top: 1.3rem;
  	}
  	@media screen and (max-width:$screen-md-min) {
  		top: .5rem;
  	}
}

/*inset margin*/
blockquote {
	border-left: none;
	margin-left:.3em;
	color: $blue;
		@media screen and (max-width:$screen-md-min) {
			font-size: 1.5rem;
			margin-bottom: .5rem;
			line-height: 2rem;
		}
		@media screen and (min-width:$screen-md-min) {
			margin-left: 3em;
			margin-right: 3em;
			margin-top: 2rem;
		}
	&.nested-block {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}


blockquote p {
	font-style: italic;
	font-size: 3rem;
	line-height: 3.4rem;
	margin-bottom: 0.667rem;
	padding: 0;
		@media screen and (max-width:$screen-md-min) {
			font-size: 1.5rem;
			margin-bottom: .2rem;
			line-height: 2rem;
		}
}


cite {
	display: block;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 1.2em;
	font-style: none;
	text-align: right;
	line-height: 1.3em;
	@media screen and (max-width:$screen-md-min) {
		font-size: 1.2rem;
	}
}