.reputations-and-outcomes {
	.row.no-margin {
		margin-bottom: 0;
	}

	#ranking {
		background: $blue;
		padding: 3em 0 0;

		@media screen and (max-width: $screen-xs-max) {
			text-align: center;
		}

		.icon-diplomas {
			background-size: contain;

			// neat trick to make the height match the width, even without content
			&:before { content: ''; display: block; margin-top: 100%; box-sizing: content-box; }

			@media screen and (max-width: $screen-xs-max) {
				height: 200px;
				background-position: center;

				&:before { display: none; }
			}
		}
	}

	#fullbright-fellows {
		padding: 2em 0 0;

		h1, p {
			color: $medium-gray;
		}

		.icon-person-at-podium {
			background-size: contain;
			height: 250px;

			@media screen and (max-width: $screen-xs-max) {
				height: 180px;
			}
		}

		@media screen and (max-width: $screen-xs-max) {
			padding: 1em 0 0;
		}
	}

	#graduates {
		background-color: $orange;
		padding: 2em 0 0;
		background-size: 25%;
		background-position: right 5% center;

		ul {
			list-style: none;
			color: $light-gray;
			font-size: 21px;
			line-height: 36px;
			margin-bottom: 0;

			@media screen and (max-width: $screen-xs-max) {
				font-size: 16px;
				line-height: 30px;
			}
		}

		@media screen and (max-width: $screen-md-min) {
			background-position: center;
			background-size: 50%;
		}
	}

	#nsse {
		background: $blue;
		padding: 3em 0 0;

		.icon-nsse-logo {
			background-size: contain;

			// neat trick to make the height match the width, even without content
			&:before { content: ''; display: block; margin-top: 100%; box-sizing: content-box; }
		}

		h1 {
			margin-top: 0;
		}

		@media screen and (max-width: $screen-xs-max) {
			.icon-nsse-logo {
				height: 200px;
				background-position: center;

				&:before { display: none; }
			}

			h1 {
				margin-top: 1em;
			}
		}

		@media screen and (max-width: $screen-xs-max) {
			.icon-nsse-logo {
				height: 120px;
			}
		}
	}

	#transfer-schools {
		background-color: $yellow;
		padding: 2em 0 0;
		background-size: 25%;
		background-position: 5% center;

		ul {
			list-style: none;
			color: $light-gray;
			font-size: 21px;
			line-height: 36px;
			margin-bottom: 0;

			@media screen and (max-width: $screen-xs-max) {
				font-size: 16px;
				line-height: 30px;
			}
		}

		@media screen and (max-width: $screen-md-min) {
			background-position: center;
			background-size: 50%;
		}
	}

	#alumni {
		.alumnus {
			img {
				width: 110px;
				border-radius: 110px;
				padding: 4px;
				border: 1px solid $red;
				background: $light-gray;
				box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
				display: block;
				float: left;
				margin: 0 20px 30px 0;
			}

			h3 {
				margin: 0 0 0.2em;
			}

			p {
				font-size: 18px;
				line-height: 24px;
			}

			@media screen and (max-width: $screen-md-min) {
				text-align: center;

				&:first-child {
					h3, p { padding-left: 3%; }
				}
				&:last-child {
					h3, p { padding-right: 3%; }
				}

				img {
					float: none;
					margin: 0 auto 15px;
				}

				p {
					font-size: 16px;
					line-height: 21px;
				}
			}

			@media screen and (max-width: $screen-xs-max) {
				p {
					font-size: 15px;
					line-height: 19px;
				}
			}
		}
	}
}