// horizontal subnav on master landing only
.admission-subnav {
	text-align: justify;
  	margin-top: -30px;	
  	&:after {
	  content: '';
	  width: 100%;
	  display: inline-block;
	}
	& .admission-item {
		display: inline-block;
		color: $medium-gray;
		@include LeHavre(20px);
		@media screen and (max-width: $screen-sm-max) {
		 	width: 49%;
		 	text-align: left;
		 	margin-top: 13px;
		 		&:first-child {
		 			margin-top: 0;
				}
		}
			@media screen and (max-width:$screen-sm-max) {
				font-size: 16px;
			}
	}
	& a {
		color: $red;
	}
}
	.info-icon:before {
	  	font-family: 'FontAwesome';
	  	content: '\f05a';
	  	margin-right: 8px;
	    font-size: 20px;
 		vertical-align: middle;
	}
	.student-icon:before {
		display: inline-block;
	  	font-family: 'FontAwesome';
	  	content: '\f075';
	  	margin-right: 8px;
	    font-size: 20px;
 		vertical-align: middle;
		-moz-transform: scale(-1, 1);
		-webkit-transform: scale(-1, 1);
		-o-transform: scale(-1, 1);
		-ms-transform: scale(-1, 1);
		transform: scale(-1, 1);
	}
    	.visit-icon:before {
	  	font-family: 'FontAwesome';
	  	content: '\f041';
	  	margin-right: 8px;
	    font-size: 20px;
 		vertical-align: middle;
	}
	.contact-icon:before {
	  	font-family: 'FontAwesome';
	  	content: '\f0e0';
	  	margin-right: 8px;
	    font-size: 20px;
 		vertical-align: middle;
	}
	.apply-icon:before {
	  	font-family: 'FontAwesome';
	  	content: '\f040';
	  	margin-right: 8px;
	    font-size: 20px;
 		vertical-align: middle;
	}

// Grey background to horizontal subnav on master landing only
.horiz-nav-bg {
	background: $light-gray;
	z-index: -1;
	height: 250px;
	position: absolute;
	width: 100%;
	bottom: -110px;
	@media screen and (max-width:$screen-md-min)  {
	 	bottom: -100px;
	}
}
