@if $cec {
  p, 
  cite, 
  ul, 
  ol {
    max-width: $paragraph-width
  }
  blockquote {
    p, 
    cite {
      max-width: $paragraph-width - 9;
    }
  }


  .text-center-over-p {
    @extend .text-center;
    @media screen and (min-width:$screen-md) {
      max-width: $paragraph-width
    }
  }

}
.aside {    
    background: #efefef;
    padding-bottom: 1em;
    margin-bottom: 1em;
    @media screen and (min-width:$screen-sm) {
      background: none;
      border:1px solid #999;
    }
    p {
      padding-top: 1em;
      margin-bottom: $line-height-computed / 3;
      @media screen and (min-width:$screen-sm) {
        font-weight: bold;
        font-size: 1em; 
    }
       @media screen and (min-width:$screen-md) {
          font-size: .85em;
          line-height: 1.4em;
    }
  } 
}

.h3-subheadline {
  //originally in nested global setting and moved here to apply to contact form oustide of page-container
  margin-bottom: .5rem;
  margin-top: 0;
  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 1.25rem;
  }
}

/*hanging block quote*/
blockquote p:first-of-type:before,
blockquote.blockquote-long p:first-of-type:before, 
blockquote p.blockquote-last:after, 
.blockquote-mark, 
.blockquote-start {
	@media screen and (min-width:$screen-md) {
		color: lighten($blue, 18%); /*lighten the hanging quotes when larger font-size is used */
	}
}

@if $cec {
  .blockquote-start {
    font-size: 4.3em;
    text-indent: -.4em;
    float: left;
    @media screen and (max-width:$screen-sm-max) {
      font-size: 3.8rem;
      position: relative; 
      top: .5rem;
      .blockquote-long & {
        top: .2rem;
      }
    }  
    @media screen and (min-width:$screen-md) {  
      position: relative; 
      top: 1.7rem;
      line-height: 1rem;
      .blockquote-long & {
        top: 1rem;
      }
    }
  }
}
@else {
  /*add a hanging quote*/
  blockquote p:first-of-type:before, 
  blockquote.blockquote-long p:first-of-type:before {
    content: '\201C';
    font-size: 4.3em;
    text-indent: -.5em;
    float: left;
    @media screen and (max-width:$screen-sm-max) {
      font-size: 3rem;
    }  
    @media screen and (min-width:$screen-md) {  
      font-size: 2.4em;
      text-indent: -.5em;    
      position: relative; 
      top: 1.5rem;
      line-height: 1rem;
    }
    @media screen\9 {
      /* IE9 CSS styles go here */
      font-size: 6rem; //set font size larger than type
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
      font-size: 6rem; //set font size larger than type
    }
  } 
}






.section-full-screen {
  blockquote:before {
    content: '';
  }
  .blockquote-mark, blockquote {
    color: #ccc; /*darken the hanging quotes and cite*/
  }
  cite {
    text-align: right;
    @media (max-width: $screen-xs-max) {
      font-size: 1.4rem
    }
  }
}

blockquote.blockquote-long {
  p:first-of-type:before, 
  .blockquote-start {
    font-size:3em; 
    @media screen and (max-width:$screen-sm-max) {
      font-size: 2em;
    }
    @media screen and (min-width:$screen-md) {
      font-size: 3em;
    }
    @media screen\9 {
      /* IE9 CSS styles go here */
      font-size: 5rem; //set font size larger than type
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
      /* IE10+ CSS styles go here */
      font-size: 5rem; //set font size larger than type
    }
  }
}

.blockquote-end-style {
  font-size: 1.8em;
  position: relative; 
  right: 0.1em;
  line-height: 0;
  @media screen and (min-width:$screen-md) {
    top: 1.3rem;
  }
  @media screen and (max-width:$screen-sm-max) {
    @if $cec {
      top: .7rem;
      font-size: 1.6em;     
      & .blockquote-long {
        font-size: 2.4em;
        //top: 1rem;
      }
      & .no-margin-top {
        top: 0rem;
        font-size: 1.7em
      }
    }
    @else {
      top: .5rem;
    }
  }
  @media screen and (max-width:$screen-xs-max) {
    font-size: 1.8em;
  }
  @media screen\9 {
    /* IE9 CSS styles go here */
    font-size: 40px; //set font size larger than type
  }
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    /* IE10+ CSS styles go here */
    font-size: 40px; //set font size larger than type
  }
}


@if $cec {
  .blockquote-mark {
    @extend .blockquote-end-style; //insert content with
  }
}
@else {
  blockquote p.blockquote-last:after, 
  .blockquote-mark {
    content: '\201D'; /*add a large quote at end of blockquote*/
    @extend .blockquote-end-style; 
  }
}

@if $cec {
  @media screen and (min-width:$screen-md) {
    .blockquote-long {
      .blockquote-mark {
        top: 1.1rem;
      }

    }
  }
}
/*inset margin*/
blockquote {
	border-left: none;
	margin-left:.3em;
	color: $blue;
		@media screen and (max-width:$screen-sm-max) {
			font-size: 1.5rem;
			margin-bottom: .5rem;
			line-height: 2rem;
		}
		@media screen and (min-width:$screen-md) {
			@if $cec {
        margin-left: 2em;
        margin-right: 2em;
      }
      @else {
        margin-left: 2.5em;
        margin-right: 3em;  
      }
			margin-top: 2rem;
		}
	&.nested-block {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}


blockquote, 
blockquote.blockquote-long, 
body#home .section-full-screen blockquote {
  p {
      font-size: 3rem;
      line-height: 3.4rem;
      font-style: italic;
      margin-bottom: 0.667rem;
      padding: 0;
    @media screen and (max-width:$screen-sm-max) {
      @if $cec {
        font-size: 2rem; //set font size larger than type
        line-height: 2.4rem;
      }
      @else {
        font-size: 1.5rem;
        line-height: 2rem;
      }
      margin-bottom: .2rem;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }
}


blockquote.blockquote-long p {
  font-size: 2rem;
  line-height:2.5rem;
  @media screen and (max-width:$screen-sm-max) {
      font-size: 1.5rem;
      margin-bottom: .2rem;
      line-height: 2rem;
    }
}

cite {
	display: block;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 1.2em;
	font-style: none;
	text-align: right;
	line-height: 1.3em;
	@media screen and (max-width:$screen-sm-max) {
		font-size: 1.2rem;
        text-align: left; /*long citation on small screen will line break and look weird if right aligned*/
	}
}

//see app_home for blockquote overrides

/*secondary CTA*/
.cta-bullet {
    color: $red;
    @include LeHavre(16px);
      &:hover{
        color: $dark-gray;
        text-decoration: none;
      }
}


a.right-arrow, 
a:link.right-arrow  {
    @extend .cta-bullet;
    @media screen and (max-width:$screen-sm-max) {
        font-size: .9em;
      }
  }

/*Use larger bullet CTA when no box link CTA is present*/
a.right-arrow-primary {
    @extend .cta-bullet;
    @if $cec {
      @include Header(2.1rem);
    }
    @else {
    }
    @media screen and (min-width:$screen-md) {
        @include LeHavre(25px);
    }
}

/*when used in aside, use a slightly larger bullet CTA*/
a.right-arrow-aside {
    @extend .cta-bullet;
    @include LeHavre(20px);
    display: inline-block;
    line-height: 1.2em;
}

.enlarge {
  font-size: 2em; //magic number used on video page
}

.reduce {
  font-size: .6em; //magic number used on video page
}
