.modal-lg, .media-close-up {
	width:100%;
	height:100%;
	margin:0;
	.modal-content {
		box-shadow:none;
		height:100%;
		background-color:$dark-gray;
		color:$white;
	}
	.modal-header {
		position:absolute;
		top:0;
		left:0;
		right:0;
		border:0;
		z-index:2;
	}
	.modal-body {
		height:100%;
		padding:100px 15px;
	}
	.modal-footer {
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		border:0;
	}
	.close {
		color:$white;
		background-color:$dark-gray;
	}
}

/* Full page with modal style */
.media-close-up {
  background-color:$dark-gray;
  color: white; //offset text*/
  position: absolute; //have video take full height
  .modal-content {
    border: 0; //override border set above
  }
  .close {
    line-height: .7em;
    padding-top: .5em;
    opacity: .4;
    text-shadow: 0 0 #fff;
    &:hover,
    &:hover:focus {
    	opacity: 1;
    	color: white;
    }
    &:focus {
    	color: $yellow;
    	.reduce {
    		text-decoration: underline;
    	}
    }
  }
}