/*
	I-3. Bootstrap and other template base styles
*/


body { 
	background-color:$white;
}

$pagegrid-break-high: 1570px;
$pagegrid-break-med: 1370px;
$pagegrid-break-low: 990px;
@if $cec {
	$pagegrid-break-low: $screen-sm-max; //smaller breakpoints in CEC
}