//originally, from LH, this code was in the page head of just the RFI form. During implementation, MC added some rules to ensure that columns were consistently margined across devices. Then content was pulled so that it could style multiple pages. 
label.error {
  color:red;
  font-size:12px;
  font-weight: normal;
  line-height: 130%;
  margin-top: 5px;
  display: block;
}

#contactForm {
  .col-md-7, .col-sm-7, .col-md-6, .col-sm-6, .col-md-5, .col-sm-5, .col-sm-3{
    padding-left: 10px;
  }
  .checkbox-sub {
    padding-left:35px;
  }
  .checkbox-sub + .checkbox {
    margin-top:-5px;
  }
}



