//originally, from LH, this code was in the page head of just the RFI form. During implementation, MC added some rules to ensure that columns were consistently margined across devices. Then content was pulled so that it could style multiple pages. 

//also see _css/bootstrap/_forms.scss


label.error {
  color:red;
  font-size:12px;
  font-weight: normal;
  line-height: 130%;
  margin-top: 5px;
  display: block;
}

#contactForm {
  .col-md-7, .col-sm-7, .col-md-5, .col-sm-5, {
    padding-left: 10px;
  }
  //consistent styling for most common column sizes
  .col-sm-3,
  .col-sm-4,
  .col-sm-6,
  .col-sm-8,
  .col-sm-12,
  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-8,
  .col-md-12,
   {
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $screen-sm-min) {
      padding-left: 10px;
      padding-right: 10px;
    }

  }
  .checkbox-sub {
    padding-left:35px;
    //eliminate margin on second column
    &.col-sub-trailing-sm {
      @media screen and (min-width: $screen-sm-min) {
        padding-left: 10px;
      }
    }
  }


  .checkbox-sub + .checkbox {
    margin-top:-5px;
  }

  h3.subheadline {
    @extend .h3-subheadline 
  }
}

/* ------- Conforming Slate forms ----------- */

/* fix styling on date of birth label */
.form_label legend {
  display:block;
  max-width:100%;
  margin-bottom: 5px;
  font-weight:bold;
  font-size: 2rem; 
  line-height: 2.6rem; 
  color: $medium-gray;
  border-bottom: 0;
  @media screen and (max-width: 992px) {
    font-size: 1.1rem;
    line-height: 1.6rem;
  }
}

/* style h1 and h2 */
.form_h2 {
  font-family: $lehavre;
  font-size: 4rem;
  letter-spacing: -0.08em;
  line-height: 1.1;
}
     
.form_h1 {
    font-family: $lehavre;
    font-size: 5rem;
    letter-spacing: -0.08em;
    line-height: 1.1;
}

/* fix styling for select boxes, check boxes and radio buttons */
.form-control, div.form_responses select {
    height: 34px;
    font-size: 14px;
    color: #555;
    background-color: $white;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
     margin-right:10px;
}
 /* style checkbox label */    
div.checkbox label {
  font-size: 2rem;
  line-height: 2.6rem;
  font-family: $helvetica-cond;
  color: $medium-gray;
}
     
div.form_response input[type="checkbox"],
div.form_response input[type="radio"] {
  margin-top: 0px;
}
     
div.form_response input+label {
  margin-left: .4rem
}

/* add padding to text input and maintain consistent input box size for mobile */
div.form_responses input[type="text"] {
  padding: 3px 12px;
  height: 34px;
  font-size: 14px;
}

/* adding a right margin to keep fields from clashing on mobile */
div.form_responses {
  margin-right: 5%;
}

/* adjust text area width */
div.form_responses textarea {
width: 550px;
@media screen and (max-width:  $screen-sm-min) {
  width:360px
  }  
}

/* fix styling for submit button */
div.action input[type="button"], 
.action button {
  text-shadow: none;
  border: none;
  box-shadow: none;
  text-transform: uppercase;
  font-family: $lehavre;
  font-size: 16px;
  letter-spacing: -0.04em;
  padding: 15px 20px;
  color: $white; 
  background-color: $red;
  &:hover {
  background-color: $dark-gray;
  }
}

/* fix spacing for address block */
div.form_address label {
  padding:5px 0
}

div.form_address input, 
div.form_address select {
  margin:0 0 .5em
}