/*
1. Flexbox Fallback
2. Grid Layout
3. Layout example
4. News item layout
5. Colors
6. News Item Layout (more)
7. Type size

*/

//1. Flexbox Fallback 
//flexbox fallback if the browser does not support display:grid 
  .grid {
    display: flex;
    flex-flow: row wrap;
    padding: 0;
    .news-item-batch2,
    .news-item-batch3 {
      display: none;
    }
    .news-item { 
      flex: 0 1 33.3%; 
    }
  }

  //index page
  .grid-index .news-item {
    height: 400px;
  }

  #news-grid .rockers_btn {
    display: none;
  }


  //news page
  .grid-news .news-item img {
    flex: 0 0 auto;
  }
  
// end flexbox fallback





//2. Grid Layout 
@supports (display: grid) {
  

  //2a. Grid layout

  //homepage: position grid inside side scroller
  .grid-wrapper {
    overflow-x:scroll;
    @media(min-width: $screen-sm-min) {
      overflow-x: hidden;
    }
    overflow-y:hidden;
    background-color:$dark-gray;

    .grid {
      //set height for horizontal scroll
      height: $section-height-xs;
      @media (min-width: $screen-sm-min) {
        height: $section-height-news;
        position: relative;
      }
      @media (min-width: $screen-xl-min) {
        height: $section-height-sm;
      }
    }


  } //end grid-wrapper
    
    .grid {
      //grid
      display: grid;
      grid-gap: 1px;
      
      //override flexbox fallback
      
      @media(min-width: $screen-sm) {
        .news-item-batch2,
        .news-item-batch3 {
          display: block; 
        }
      }
    
      //3a Homepage Grid
    
      //assign grid layout
      // created in line: grid-template-columns: repeat(24, 175px); 
      grid-template-rows: repeat(2, $section-height-xs/2);

      @media (min-width: $screen-sm-min) {
        grid-template-columns: repeat(90, $section-height-news/2);
        grid-template-rows: repeat(2, $section-height-news/2);
      }
      @media (min-width: $screen-xl-min) {
        grid-template-columns: repeat(90, $section-height-sm/2);
        grid-template-rows: repeat(2, $section-height-sm/2);
      }
      
    } //grid
  
  
  @media (min-width: $screen-sm-min) {
    #news-grid .rockers_btn {
      display: block; //override flexbox fallback
    }
  }

  .grid-index .news-item {
    height: auto; //flexbox fallback override
  }

}//end @support grid


//4. News item layout


//index grid
#news-grid .grid {

  //set item and image layout,sizing
  
  .news-item-batch1 {
    &.news-item-link-none.news-item-image,
    &.news-item-link.news-item-image a {
      display: flex; 
      flex-direction: column;
    } 
  }
  
  //only set batch 2 and batch 3 on longer screens
  @media(min-width: $screen-sm) {
    .news-item-batch2,
    .news-item-batch3 {
      &.news-item-link-none.news-item-image,
      &.news-item-link.news-item-image a {
        display: flex; 
        flex-direction: column;
      } 
    }
  }

  //5. Colors
  /*
  .news-item {
     assign rotating colors (blue, gray, orange, black)
    &:nth-child(4n+1)  { 
      background-color: $blue-sky;
      &.news-item-link {  //no color change if no link
        &:focus,
        &:hover {
          background: darken( $blue-sky, 10% ); 
          .image-container,
          img {
            opacity: .9;
          }
        }
      }
    }
    &:nth-child(4n+2) { 
      background-color: $medium-gray;
      &.news-item-link {
        &:focus,
        &:hover {
         background: darken( $medium-gray, 10% );
          .image-container,
          img {
            opacity: .9;
          }
        }
      } 
    }
    &:nth-child(4n+3) { 
      background-color: $orange;
      &.news-item-link {
        &:focus,
        &:hover {
          background: darken( #27556f, 10% ); 
          .image-container,
          img {
            opacity: .9;
          }
        }
      } 
    } 
    &:nth-child(4n+4)  { 
      background-color: black;
      &.news-item-link {
        &:focus,
        &:hover { 
          background: lighten( black, 20% );
          .image-container, 
          img {
            opacity: .9;
          }
        }
      }  
    } 
  }*/
}

 /*
//news colors (blue, gray, black - no orange)
.grid-index .news-item{
  //assign rotating colors
  &:nth-child(3n+1)  { 
    background-color: $blue-sky;
    &.news-item-link {
      &:focus,
      &:hover {
        background: darken( $blue-sky, 10% ); 
        .image-container,
        img {
          opacity: .9;
        }
      }
    }
  }
  &:nth-child(3n+2) { 
    background-color: $medium-gray;
    &.news-item-link {
      &:focus,
      &:hover {
       background: darken( $medium-gray, 10% );
        .image-container,
        img {
          opacity: .9;
        }
      }
    } 
  }
  &:nth-child(3n+3)  { 
    background-color: black;
    &.news-item-link {
      &:focus,
      &:hover { 
        background: lighten( black, 20% );
        .image-container, 
        img {
          opacity: .9;
        }
      }
    }  
  }
}
*/


#news-grid, 
#news-listing {
  .grid {
    .news-item {
      transition-property:background-color, opacity;
      transition-duration:0.5s;
      img {
        opacity: 1;
      } 
      //color overrides
      &.background-blue { 
        background-color: $blue-sky;
        &.news-item-link:hover {
         background: darken( $blue-sky, 10% ); 
        } 
      }
      &.background-gray { 
        background-color: $medium-gray;
        &.news-item-link:hover {
         background: darken( $medium-gray, 10% ); 
        } 
      }
      &.background-orange { 
        background-color: $orange;
        &.news-item-link:hover {
         background: darken( $orange, 10% ); 
        } 
      }
      &.background-black { 
        background-color: black;
        &.news-item-link:hover {
         background: darken( black, 10% ); 
        } 
      }
      &.background-red { 
        background-color: $red;
        &.news-item-link:hover {
         background: darken( $red, 10% ); 
        } 
      }
    }    
  }
}


//6. Item Layout (more)
.grid {
  //link fills space
  .news-item a {
    display: inline-block;
    width: 100%;
    height: 100%;
  }
  //text-style
  .news-item, 
  .news-item a {
    text-align: center;
    color: white;
    text-decoration: none;
  }

  //image fills space
  .image-container {
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center center;
    flex-grow: 1;
  }

  .news-item-image-none {
    .item-text {
      height: 100%;
    }
  }
}

//7. Text size

//override page-container default on vertical scroll
.page-container #news-grid{
  font-size: 1.5rem; 
}

body#home, 
body#newslisting {
  .grid { //override defaults
    h2 {
      font-size: 1.2em;
      @media (min-width: $screen-sm-min) {
        font-size: 1.5em;
      } 
      margin: 0 .8em;
    }
    .news-item h2.caption { //small text version
      font-size: 1.1em;
      line-height: 1.1em;
      margin-top: 0;
    }
    p {
      font-size: 1.1em;
      @media (min-width: $screen-sm-min) {
        font-size: 1.3em;
      }
      margin: .5em .8em 0 .8em;
    }
  }
}

.grid-index {
  .news-item-image-none {
    .item-text {
      display: grid;
      align-content: center;
    }
  }
}


body#home, 
body#newslisting {
  .grid  {
    .item-text {
      padding: 1em 0;
    }
  }
}

//news page
.grid-news{
  row-gap: 20px;
  column-gap: 20px;
  .item-text {
    padding-bottom: 1em;
  }

  //set image only to fill space
  .news-item-image-only .image-container {
    height: 100%;
  }
}