/*replace vh units with fixed units on Safari 6.1 - 7.0

small screen*/
@media (max-width: 991px) and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
    nav#mainnav #navbar {(; max-height: 600px; );} /*app_nav*/
}
/*smallest screen*/
@media (max-width: 768px) and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
    .page-hero-container, #hero-video-container {(; height: 600px; );} /*app_global*/
}
/*Universal*/
@media (-webkit-min-device-pixel-ratio:0) and (min-color-index:0) {
    body#home #introduction, body#home .scrollfx-container {(; min-height: 600px; );} /*app_home*/
    #map-canvas {(; height: 514px; );} /*app_campus-map*/
    body#why div.subsection-photo, body#why div.subsection-video, body#why div.subsection-color {(; height: 600px; );} /*app_global, app_why*/
    body#why .background-video {(; height: 600px !important);}/*app_why*/
}
/*min height*/
@media (min-height: 720px) and (-webkit-min-device-pixel-ratio:0) and (min-color-index:0){
  body#home #introduction, body#home .scrollfx-container, body#home #introduction .intro_sub, body#home .scrollfx-container .intro_sub {(; height: 600px; );} /*app_home*/
}