@if $cec {
  p, .text-center-over-p {
    max-width: 58rem;
  }
  .text-center-over-p {
    @extend .text-center;
  }  
}
.aside {    
    background: #efefef;
    padding-bottom: 1em;
    margin-bottom: 1em;
    @media screen and (min-width:$screen-sm) {
      background: none;
      border:1px solid #999;
    }
    p {
      padding-top: 1em;
      margin-bottom: $line-height-computed / 3;
      @media screen and (min-width:$screen-sm) {
        font-weight: bold;
        font-size: 1em; 
    }
       @media screen and (min-width:$screen-md) {
          font-size: .85em;
          line-height: 1.4em;
    }
  } 
}

.h3-subheadline {
  //originally in nested global setting and moved here to apply to contact form oustide of page-container
  margin-bottom: .5rem;
  margin-top: 0;
  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 1.25rem;
  }
}

/*hanging block quote*/
blockquote:before, blockquote p.blockquote-last:after, .blockquote-mark {
	@media screen and (min-width:$screen-md) {
		color: lighten($blue, 18%); /*lighten the hanging quotes when larger font-size is used */
	}
}

/*add a hanging quote*/
blockquote:before, blockquote.blockquote-long:before {
    content: '\201C';
    @if $cec {
      
    }
    @else {
      font-size: 4.3em;
      text-indent: -.5em;
    }
  	float: left;
  	@media screen and (max-width:$screen-md) {
      @if $cec {
        @include Header(2em);
        text-indent: -.6em;
      }
      @else {
        font-size: 3rem;
      }  
  	}
  	@media screen and (min-width:$screen-md) {
  		@if $cec {
        @include Header(4em);
        text-indent: -.6em;
      }
      @else {
        font-size: 4em;
        text-indent: -.4em; 
      }   
  		position: relative; 
      top: 1.5rem;
  		line-height: 1rem;
  	}
}


.section-full-screen {
  blockquote:before {
    content: '';
  }
  .blockquote-mark, blockquote {
    color: #ccc; /*darken the hanging quotes and cite*/
  }
  cite {
    text-align: right;
    @media (max-width: $screen-xs-max) {
      font-size: 1.4rem
    }
  }
}

blockquote.blockquote-long:before{
 font-size:3em; 
 @media screen and (max-width:$screen-md) {
    @if $cec {
      font-size: 2.3em;
    }
    @else {
      font-size: 3em;
    }
  }
  @media screen and (min-width:$screen-md) {
    @if $cec {
      top: .5rem;
      font-size: 2.7em;
    }
    @else {
      font-size: 3em;
    }
  }
}



/*add a large quote at end of blockquote*/
blockquote p.blockquote-last:after {
	content: '\201D';
}


/*style quote*/
blockquote p.blockquote-last:after, .blockquote-mark {
  content: '\201D';
  @if $cec {
    font-size: 1.6em;
  }
  @else {
    font-size: 1.8em;
  }
  position: relative; 
  line-height: 0;
  @media screen and (min-width:$screen-md) {
    @if $cec {
      top: .8rem;
    }
    @else {
      top: 1.3rem;
    }
  }
  @media screen and (max-width:$screen-md) {
    @if $cec {
      top: .4rem;
    }
    @else {
      top: .5rem;
    }
  }
}

/*inset margin*/
blockquote {
	border-left: none;
	margin-left:.3em;
	color: $blue;
		@media screen and (max-width:$screen-md) {
			font-size: 1.5rem;
			margin-bottom: .5rem;
			line-height: 2rem;
		}
		@media screen and (min-width:$screen-md) {
			margin-left: 3em;
			margin-right: 3em;
			margin-top: 2rem;
		}
	&.nested-block {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}


blockquote, blockquote.blockquote-long, body#home .section-full-screen blockquote {
  p {
    @if $cec {
      @include Header (3.2rem);
      line-height: 3.7rem;
      font-style: normal;
    }
    @else {
      font-size: 3rem;
      line-height: 3.4rem;
      font-style: italic;
    }
    margin-bottom: 0.667rem;
    padding: 0;
    @media screen and (max-width:$screen-md) {
      font-size: 1.5rem;
      margin-bottom: .2rem;
      line-height: 2rem;
    }
    @media (max-width: $screen-xs-max) {
      font-size: 1.8rem;
      line-height: 2.2rem;
    }
  }
}


blockquote.blockquote-long p {
  @if $cec {
    @include HelveticaCond(2rem);
    font-weight: 500;
    &:after {
      @include Header(3.4rem);
      top: .5rem;
    }
  }
  @else {
    font-size: 2rem;
  }
  line-height:2.5rem;
  @media screen and (max-width:$screen-md) {
      font-size: 1.5rem;
      margin-bottom: .2rem;
      line-height: 2rem;
    }
}

cite {
	display: block;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 1.2em;
	font-style: none;
	text-align: right;
	line-height: 1.3em;
	@media screen and (max-width:$screen-md) {
		font-size: 1.2rem;
        text-align: left; /*long citation on small screen will line break and look weird if right aligned*/
	}
}

//see app_home for blockquote overrides

/*secondary CTA*/
.cta-bullet {
    color: $red;
    @include LeHavre(16px);
      &:hover{
        color: $dark-gray;
        text-decoration: none;
      }
}


a.right-arrow, a:link.right-arrow  {
    @extend .cta-bullet;
    @media screen and (max-width:$screen-md-min) {
        font-size: .9em;
      }
  }

/*Use larger bullet CTA when no box link CTA is present*/
a.right-arrow-primary {
    @extend .cta-bullet;
    @if $cec {
      @include Header(2.1rem);
    }
    @else {
    }
    @media screen and (min-width:$screen-md) {
        @include LeHavre(25px);
    }
}

/*when used in aside, use a slightly larger bullet CTA*/
a.right-arrow-aside {
    @extend .cta-bullet;
    @include LeHavre(20px);
    display: inline-block;
    line-height: 1.2em;
}

.enlarge {
  font-size: 2em; //magic number used on video page
}

.reduce {
  font-size: .6em; //magic number used on video page
}
