/* 50th anniversary css for 50.php 6/28/2016  */
.intro-sub-50 {
	img {
		height: 300px; 
		width: auto;
	}
	h1 {
		padding: 0 12px;
		margin-top: $padding-large;
	}
}

#section-future {
  background-position: left center !important;
}