.page-hero-container.at-a-glance-bg {
	margin-bottom: 0;
}

#location {
	background-image: url(/_images/at-a-glance-location.jpg);
	background-position: center bottom;
	background-size: cover;
	padding: 30px 0 0;
}

#concentrations {
	.major {
		background-position: center top;
		padding-top: 90px;
		margin-bottom: 40px;
	}
}

#our-students {
	background-color: $medium-gray;
	color: $white;

	.stat {
		border-radius: 300px;
		padding: 0;

		&.red { background-color: $red; }
		&.blue { background-color: $blue; }
		&.orange { background-color: $orange; }
		&.yellow { background-color: $yellow; }

		// neat trick to make the height match the width, even without content
		&:before { content: ''; display: block; margin-top: 100%; box-sizing: content-box; }
		span {
			display: block;
			position: absolute;
			top: 50%;
			margin-top: -24px;
			left: 0;
			width: 100%;
			height: 48px;
			font-size: 48px;
		}
	}

	.stat-description {
		height: 60px;
	}
}

#our-faculty {
	.stat {
		// height: 200px;

		h2 { border-bottom: 5px solid transparent; }

		&.red {
			h2 { color: $red; border-bottom-color: $red; }
		}
		&.blue {
			h2 { color: $blue; border-bottom-color: $blue; }
		}
		&.orange {
			h2 { color: $orange; border-bottom-color: $orange; }
		}
		&.yellow {
			h2 { color: $yellow; border-bottom-color: $yellow; }
		}
	}
	.icon {
		height: 98px;
		margin-top: 42px;
		background-position: center top;
		background-size: contain;

		@media screen and (max-width: $screen-xs-min) {
			margin-top: 30px;
		}
	}
}

#smartest-colleges {
	background-color: $light-gray;
	padding: 30px 0 66px;
}