/*
	I-4. Global font, font-size settings
*/

body {
	@include HelveticaCond(1.5rem);
	color:$medium-gray; 
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight:normal;
	font-style:normal;
	text-rendering:optimizelegibility;
}
h1, 
.highlights-grid h2 { // cec h2, semantic h2 but style as h1
	color:$dark-gray;
	@include Header(3.2rem);
	line-height:1;
	@media (min-width: $screen-sm-min) {
		@include Header(5.5rem);
		line-height:1.1;
	}
	@if $cec {
	}
	@else {
		@media (min-width: $screen-md-min) {
			@include LeHavre(5rem);
		}
	}
}
h2 {
	@include Header(2.8rem);
	line-height:1;
	@media (min-width: $screen-sm-min) {
		@include Header(4.5rem);	
		line-height:1.1;
	}
	@if $cec {
	}
	@else {
		@media (min-width: $screen-md-min) {
			@include LeHavre(4rem);
		}
	}
}
h3 {
	@include Header(2.3rem);		
	line-height:1;
	@media (min-width: $screen-sm-min) {
		@include Header(3.5rem);		
		line-height:1.1;
	}
	@if $cec {
	}
	@else {
		@media (min-width: $screen-md-min) {
			@include LeHavre(3rem);
		}
	}
}
h4 {
	line-height:1;
	@include Header(2rem);
	@media (min-width: $screen-sm-min) {
		@include Header(2.5rem);
	}
	line-height:1.1;
	@if $cec {
	}
	@else {
		@media (min-width: $screen-md-min) {
			@include LeHavre(2.4rem);
		}
	}
}
h5 {
	@include HelveticaCondMed(2rem);
	@media (min-width: $screen-sm-min) {
		@include HelveticaCondMed(2.3rem);
	}	
	line-height:1.1;
	@if $cec {
	}
	@else {
		@media (min-width: $screen-md-min) {
			@include HelveticaCondMed(2.2rem);
		}
	}
}
h6 {
	@include HelveticaCond(2rem);
	@media (min-width: $screen-sm-min) {
			@include HelveticaCondMed(1.75rem);
	}
	@if $cec {
	}
	@else {
		@media (min-width: $screen-md-min) {
			@include HelveticaCondMed(2rem);
		}
	}
}


//remove double bold issue in CMS

h1, h2, h3, h4, h5, h6 {
	strong, b {
		font-weight:500;
	}
} 