/*
	I-5. Global link styling
*/
a, a:link, a:visited {
	color:$medium-gray;
	text-decoration:underline;
}
//exceptions to underline links added 5-6-2016
.side-nav li a, ol.crumb a, footer#globalfooter a, h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, a.btn, a.right-arrow, a.right-arrow-primary, a.right-arrow-aside, .panel-title a, .accordion-container .panel-heading a, #events_carousel_original a, #updates_list_wrapper a, .admission-subnav a, a.link-news-header, body#why #why_subnav .mega-menu ul li a {
    text-decoration: none;
}

a:hover, a:active, ol.crumb a:hover, ol.crumb a:active {
	color:$red;
	text-decoration:underline;
}

footer#globalfooter a:hover, footer#globalfooter a:active, #updates_list_wrapper a:hover, #updates_list_wrapper a:active {
	text-decoration:underline;
}

a.btn { color:$white; }


//link for in-text accordion overlays on campus gateway, background is dark
.accordion-overlay {
	a {
		color: white;
		text-decoration:underline;
	}
	a:hover, a:active {
		color:$yellow;
	}
}

//OU Styles - imported from OU dev team
a.ou-btn[data-region-style="button"] {
	position:relative;
	z-index:5000;
}