//originally, from LH, this code was in the page head of just the RFI form. During implementation, MC added some rules to ensure that columns were consistently margined across devices. Then content was pulled so that it could style multiple pages. 

//also see _css/bootstrap/_forms.scss


label.error {
  color:red;
  font-size:12px;
  font-weight: normal;
  line-height: 130%;
  margin-top: 5px;
  display: block;
}

#contactForm {
  .col-md-7, .col-sm-7, .col-md-5, .col-sm-5, {
    padding-left: 10px;
  }
  //consistent styling for most common column sizes
  .col-sm-3,
  .col-sm-4,
  .col-sm-6,
  .col-sm-8,
  .col-sm-12,
  .col-md-3,
  .col-md-4,
  .col-md-6,
  .col-md-8,
  .col-md-12,
   {
    padding-left: 15px;
    padding-right: 15px;
    @media screen and (min-width: $screen-sm-min) {
      padding-left: 10px;
      padding-right: 10px;
    }

  }
  .checkbox-sub {
    padding-left:35px;
    //eliminate margin on second column
    &.col-sub-trailing-sm {
      @media screen and (min-width: $screen-sm-min) {
        padding-left: 10px;
      }
    }
  }


  .checkbox-sub + .checkbox {
    margin-top:-5px;
  }

  h3.subheadline {
    @extend .h3-subheadline 
  }
}

/* ------- Conforming Slate forms ----------- 
Slate CRM Forms are embedded through JS that outputs HTML/CSS. These styles conform the HTML styles to the site design and sometimes override the Slate CSS

1. General Spacing
2. Field Types
3. Fields Specific
*/

//All Slate Styles
.form_pages {

  //1. General Spacing

   .form_question {
    padding-top: 0;
    padding-bottom: 1rem;
    margin-top: 0;
  } 

  //2. Field Types

  /* add padding to text input and maintain consistent input box size for mobile */
  div.form_responses {
    input[type="text"],
    input[type="email"],
    textarea
     {
      padding: 3px 12px; 
      font-size: 14px;
    }
  }

  div.form_responses {
    input[type="text"],
    input[type="email"] {
    height: 34px;
    }
  }

  div.form_responses {
    textarea {
      border-color: #ccc;
      width:100%;
    }
  }

  input[type="text"],
  input[type="email"],
  .form_question, 
  .form_responses select {
    width: 100%;
  }

   /* fix styling on date of birth label */
  .form_label legend {
    margin-bottom: 0px;
    font-weight:bold;
    font-size: 2rem;  
    color: $medium-gray;
    border-bottom: 0;
    @media screen and (max-width: 992px) {
      font-size: 1.1rem;
      line-height: 1.6rem;
    }
  }

  label {
    padding-bottom: 0;
  }

  /* fix styling for select boxes, check boxes and radio buttons */
  .form-control, div.form_responses select {
      height: 34px;
      font-size: 14px;
      color: #555;
      background-color: $white;
      border: 1px solid #ccc;
      -webkit-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
      -o-transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
      transition: border-color ease-in-out 0.15s,box-shadow ease-in-out 0.15s;
  }

  /* check box + radio circle placement adjustments */
div.form_response input[type="checkbox"],
div.form_response input[type="radio"] {
  margin-top: -3px;
  margin-right: -5px;
}
  
  //3. Fields Specific

  @media screen and (min-width:  $screen-sm-min) {
    //Email Inquiry Landing Page + Main RFI page | First Name
    #form_question_47edfea2-9d65-4d03-8692-5bcfbc4382ae,
     {
      margin-right: 3%;
    }
    //Email Inquiry Landing Page + Main RFI Page | First Name
    #form_question_47edfea2-9d65-4d03-8692-5bcfbc4382ae,
    //Email Inquiry Landing Page + Main RFI Page | Last Name 
    #form_question_1b24d28b-7525-41f4-9449-f643909afa07,
 {
      width: 49%;
      clear: none !important;
      float: left;
    }
  }

  //Email Inquiry Landing Page + Main RFI student | Date of Birth
  #form_f4cf7aff-c651-4389-9cbc-3c043192bf25_,
  //Main RFI Page | D.O.B. parent
  #form_e83605f3-a3cb-4ce1-84e7-bd5c25b2b8f1_
   {
    //month
    &m {
      width: 30%;
      margin-left: 0px;
      margin-right: 3%;
      @media screen and (max-width: $screen-sm-min) {
      width:27%;
      }
    }
    //day
    &d {
      width: 30%;
      margin-right: 3%;
      @media screen and (max-width: $screen-sm-min) {
      width:27%;
      }
    }
    //year
    &y {
      width: 30%;
      margin-right: 0px;
      @media screen and (max-width: $screen-sm-min) {
      width:27%;
      }
    }
  }

  //Email Inquiry Landing Page | Phone Number
  #form_question_aa54d7b7-ed90-4c3d-b970-f6dbb3ef3de8 {
    margin-right: 2%;
  }

  //Email Inquiry Landing Page | Parent Name
  #form_question_fda1ad22-029d-4ff8-89e6-343325e83cf7,
  //Email Inquiry Landing Page | Parent Last Name
  #form_question_8067ef76-9d30-470c-8cc9-23dcfbb40af1,
  //Main RFI Page | Parent First Name
  #form_question_f4f30349-5148-466b-81d7-5c14efd4306f,
  //Main RFI Page | Parent Last Name
  #form_question_cab3eb30-1d91-4770-a922-c320d18ab1b2,
  //Main RFI Page | Parent email
  #form_question_633a504c-bd81-4da6-8590-3b58a9e8d9a1,
  //Main RFI Page | Address block student
  #form_question_36d183ec-678b-482d-b9b4-8f53a22c55d3,
  //Main RFI Page | Address block parent
  #form_question_53dafb6a-2092-4e2e-80d9-fedfc8561538,
    //Main RFI Page | Address block other
  #form_question_5bd506df-6f4c-416c-9f06-9e57553f449f
   {
    padding-left: 6%;
  }
}

/* fix styling for submit button */
  .action input[type="button"], 
  .action button,
  div#switch button {
    border: none;
    text-transform: uppercase;
    font-family: $lehavre;
    font-size: 16px;
    letter-spacing: -0.04em;
    padding: 10.5px 20px;
    color: $white; 
    background-color: $red;
    &:hover {
    background-color: $dark-gray;
    }
  }

/* adjust horizontal spacing abd mobile view for state and country on main rfi */
#form_question_36d183ec-678b-482d-b9b4-8f53a22c55d3 span,
#form_question_53dafb6a-2092-4e2e-80d9-fedfc8561538 span,
#form_question_5bd506df-6f4c-416c-9f06-9e57553f449f span { 
  display:inline-block;
  width: 50%;
  @media screen and (max-width: $screen-sm-min) {
    width: 100%;
  }
  &:first-of-type {
    width:48%;
    margin-right:2%;
    @media screen and (max-width: $screen-sm-min) {
      width: 100%;
      }
    } 
}

/* fix vertical spacing for address block on main rfi */
label[for=form_36d183ec-678b-482d-b9b4-8f53a22c55d3_region],
label[for=form_36d183ec-678b-482d-b9b4-8f53a22c55d3_country],
label[for=form_36d183ec-678b-482d-b9b4-8f53a22c55d3_postal],
label[for=form_53dafb6a-2092-4e2e-80d9-fedfc8561538_region],
label[for=form_53dafb6a-2092-4e2e-80d9-fedfc8561538_country],
label[for=form_53dafb6a-2092-4e2e-80d9-fedfc8561538_postal],
label[for=form_5bd506df-6f4c-416c-9f06-9e57553f449f_region],
label[for=form_5bd506df-6f4c-416c-9f06-9e57553f449f_country],
label[for=form_5bd506df-6f4c-416c-9f06-9e57553f449f_postal]
 {
  margin-top: 10px;
}
  
/* style --I'm a future-- on main rfi */
#form_e4ee01cb-3a71-45a0-9ff8-0ae8473f605d legend {
  @extend h3, h3.subheadline;
}

//not sure if we need these (retain them should they use the other parts of the form in the future?) 
/* style h1 and h2 
.form_h2 {
  font-family: $lehavre;
  font-size: 4rem;
  letter-spacing: -0.08em;
  line-height: 1.1;
}
     
.form_h1 {
    font-family: $lehavre;
    font-size: 5rem;
    letter-spacing: -0.08em;
    line-height: 1.1;
}*/