/*
	I-4. Global font, font-size settings
*/

body {
	@include HelveticaCond(1.5rem);
	color:$medium-gray; 
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	-moz-osx-font-smoothing: grayscale;
	font-weight:normal;
	font-style:normal;
	text-rendering:optimizelegibility;
}
h1 {
	color:$dark-gray;
	@include LeHavre(2.5rem);
	line-height:1;
	@media (min-width: $screen-sm-min) {
		@if $cec {
			@include Header(5.5rem);
		}
		@else {
			@include LeHavre(5rem);
		}		

		line-height:1.1;
	}
}
h2 {
	@include LeHavre(2rem);
	line-height:1;
	@media (min-width: $screen-sm-min) {
		@if $cec {
			@include Header(4.5rem);
		}
		@else {
			@include LeHavre(4rem);
		}		
		line-height:1.1;
	}
}
h3 {
	@include LeHavre(1.75rem);
	line-height:1;
	@media (min-width: $screen-sm-min) {
		@if $cec {
			@include Header(3.75rem);
		}
		@else {
			@include LeHavre(3rem);
		}		
		line-height:1.1;
	}
}
h4 {
	@include LeHavre(1.75rem);
	line-height:1;
	@media (min-width: $screen-sm-min) {
		@if $cec {
			@include Header(2.5rem);
		}
		@else {
			@include LeHavre(2rem);
		}	
		line-height:1.1;
	}
}
h5 {
	@if $cec {
		@include HelveticaCondMed(2rem);
	}
	@else {
		@include LeHavre(1.55rem);
		letter-spacing: -0.05em;
	}	
		line-height:1.1;
}
h6 {
	@if $cec {
		@include HelveticaCondMed(1.75rem);
	}
	@else {
		@include LeHavre(1.3rem);
		letter-spacing: -0.05em;
	}	
}


//remove double bold issue in CMS

h1, h2, h3, h4, h5, h6 {
	strong, b {
		@if $cec {
			font-weight:$headline-weight;
		}
		@else {
			font-weight:500;
		}
	}
} 