//colored background with 3 highlights used on CEC homepage
.highlights-grid {
	min-height: 90vh;
	padding-bottom: 20px;
  background-image: url(/_images/cec/classroom/classroom-teaching-CF045232.jpg);
  background-repeat: no-repeat;
	background-size: cover;
	background-position: left bottom;
	@media screen and (min-width:$screen-md-min) {
		padding-top: 4rem;
		padding-bottom: 4rem;
	}
	@media screen and (max-width:$screen-xs-max) {
		background-image: url(/_images/cec/classroom/student-present-bhsec_qns_0261.jpg);
		background-position: center top;
	}
	h2 {
		line-height: 1.2em;
    margin-bottom: 9vh;
    color: white;
    @media screen and (max-width:$screen-sm-max) {
    	line-height: 1.1em;
    	margin-top: 1em;
	  }
	  @media screen and (min-width: $screen-sm-min) {
	  	margin-top: 22vh;
		}
	}
	h3 {
		margin-top: .2em;
    margin-bottom: .2em;
    color: #efefef;
    font-size: 3.3rem; 
    @media screen and (max-width: $screen-md) {
    	font-size: 2.9rem; //make sure long word doesn't overflow column
    }
    
    @media screen and (max-width: $screen-xs2) {
    	font-size: 2.4rem;
    }
	}
	h4 {
		font-family:$helvetica-cond; //set font-size in hero-text
		letter-spacing: 0;
		font-weight: 500;
		margin-top: .0em;
		color: #efefef;
	}
	img {
		max-height: 200px;
		width: auto;
		max-width: 100%;
	}
	.form-group {
		margin-bottom: 2rem;
	}
}