body#why {

overflow-x:hidden!important;

@mixin transform-rotate($deg) {
	-webkit-transform: rotate($deg);
	-moz-transform: rotate($deg);
	-ms-transform: rotate($deg);
	transform: rotate($deg);
}
@mixin transition-transform($dur) {
	-webkit-transition:-webkit-transform $dur;
	-moz-transition:-moz-transform $dur;
	-ms-transition:-ms-transform $dur;
	transition:transform $dur;
}

	color:$white;
	background-color:$dark-gray;
	h1 {
		color:inherit;
		max-width:970px;
		margin-left:auto;
		margin-right:auto;
		font-size:2.5rem;
		@media (min-width: $screen-sm-min) {
			font-size:4rem;
		}
		@media (min-height: 800px) { 
			font-size:5rem;
		}
	}
	p {
		max-width:970px;
		margin-left:auto;
		margin-right:auto;
		font-size:1.25rem!important;
		line-height: 1.4em;
		@media (min-width: $screen-sm-min) {
			font-size:1.9rem!important;
		}
		@media (min-height: 800px) { 
			font-size:2.25rem!important;
		}
	}

	.viewall_container {
		@media (max-width: $screen-sm-max) {
			position:relative;
			display:table-row;
			.btn {
				margin-bottom:30px;
			}
		}	
		z-index:3;
		.btn.btn-primary {
			position:relative;
		}
	}
	
	#why_rightnav {
		display:none;
		@media (min-width: $screen-md-min) {
			display:block;
			position:fixed;
			right:0;
			width:70px;
			height:128px;
			top:50%;
			margin-top:-64px;
			z-index:4;
			a.btn, button {
				color:$white;
				opacity:0.4;
				transition-property:opacity;
				transition-duration:0.5s;
				&:hover {
					opacity:1;
				}	
			}
			.sublink {
				display:none;
			}
			i.fa {
				font-size:50px;
			}
		}
	}
	
	div.subsection-photo,
	div.subsection-video,
	div.subsection-color {
		min-height:600px;
		height:720px;
		height:100vh;
		display:table;
		background-repeat:no-repeat;
		background-size:cover;
		width:100%;
		text-align:center;
		position:relative;
		background-position:center;
		@media (min-width: $screen-md-min) {
			background-attachment:fixed;
		}
		@media (max-height:650px) and (min-width:$screen-md-min) {
			min-height: inherit;
		}
		.container {
			display:table-cell;
			vertical-align:middle;
			position: relative;
			z-index: 2;
			width: 100%;
			@media (min-width: $screen-md-min) {
				padding:84px 90px 0px;
			}
			@media (max-height:650px) and (min-width:$screen-md-min) {
				vertical-align:top;
				padding-top:120px;
			}
		}
		.fader {
			height:100%;
			width:100%;
			background-color:#000;
			opacity:0.4;
			@media (min-width: $screen-md-min) {
				opacity:0;
			}
			position:absolute;
			z-index:1;
		}
	}

	.factoid-stat {
		@include LeHavre(100px);
		line-height:80%;
		sup {
			font-size:20%;
			top:1rem;
			vertical-align:top;
		}
		@media (min-height: 600px) and (min-width: $screen-md-min) {
			@include LeHavre(180px);
			sup {
				font-size:20%;
				top:3rem;
				vertical-align:top;
			}
		}
		@media (min-height: 800px) {
			@include LeHavre(280px);
			line-height:320px;
			sup {
				font-size:20%;
				top:7rem;
				vertical-align:top;
			}
		}
		@media (min-height: 1000px) {
			@include LeHavre(300px);
			sup {
				font-size:20%;
				top:3rem;
				vertical-align:top;
			}
			line-height:320px;
		}
	}


	.background-video { 
		width:100vw!important; 
		height:100vh!important; 
		position:absolute; 
		overflow:hidden; 
	}

	.background-video video {
		top: 0;
		height: auto;
		min-height: 100%;
		min-width: 100%;
		position: absolute;
		left: 0%;
		width: auto;
		margin:0px auto;
	}

	@media (max-width: $screen-md-max) { 
		.background-video { 
			display:none;
		}
	}

	.intro_h1_1 {
		@media (min-width: $screen-md-min) { 
			display:block;
			position:absolute; 
			bottom: 40%;
			left: 0px;
			right: 0px;
			padding-right: 60px;
			padding-left: 60px;
			width:100%;
		}
		@media (min-height: 800px) {
			bottom: 50%;
		}
	}
	.intro_p_1 {
		@media (min-width: $screen-md-min) { 
			position:absolute;
			top: 60%;
			left: 0px;
			right: 0px;
			padding-right: 60px;
			padding-left: 60px;
			width:100%;
		}
		@media (min-height: 850px) {
			top: 50%;
		}
	}
	.intro_p_2 {
		@media (min-width: $screen-md-min) { 
			position:absolute;
			top: 60%;
			left: 0px;
			right: 0px;
			padding-right: 60px;
			padding-left: 60px;
			width:100%;
		}
		@media (min-height: 800px) {
			top: 50%;
		}
	}

	//#earlycollege {
		#earlycollege_div1 {
			
			
			position:relative;
			.intro_h1_1 {
				@media (min-width: $screen-md-min) {
					position: fixed;
				}
			}
		}
		#earlycollege_div2 {
			position:relative;
		}
		#earlycollege_div3 {
			background-color:$orange;
			position:relative;
			@media (max-width: $screen-sm-max) { 
				background-image:url(/_images/_why/cake.png);
				background-repeat:no-repeat;
				background-size: 80% auto;
				background-position:center;
			}
			.svg-div {
				display:none;
				@media (min-width: $screen-md-min) { 
					display:block;
					position:absolute;
					left: 50%;
					margin-left:-375px;
					top: 50%;
					width:750px;
					height:419px;
				}
				@media (min-height: 600px) and (min-width: $screen-md-min) {
					margin-top:-190px;
				}
				@media (min-height:800px) {
					margin-top:-230px;
				}
				@media (min-height: 1000px) {
					margin-top:-260px;
				}
				
				img.cake-base {
					@media (min-width: $screen-md-min) { position:absolute; }
					left:0;
				}
				img.candle {
					@media (min-width: $screen-md-min) { position:absolute; }
					&.c1 {
						left:0px;
					}
					&.c2 {
						left:25px
					}
					&.c3 {
						left:50px
					}
					&.c4 {
						left:75px;
					}
					&.c5 {
						left:100px;
					}
					&.c6 {
						left:125px;
					}
					&.c7 {
						left:150px;
					}
					&.c8 {
						left:175px;
					}
					&.c9 {
						left:200px;
					}
					&.c10 {
						left:225px;
					}
					&.c11 {
						left:250px;
					}
					&.c12 {
						left:275px;
					}
					&.c13 {
						left:300px;
					}
					&.c14 {
						left:325px;
					}
					&.c15 {
						left:350px;
					}
					&.c16 {
						left:375px;
					}
					&.c17 {
						left:400px;
						top:20px;
					}
				}
			}
		}
	//}	
	

	//#learningliberated {
		#learningliberated_div1 {
		}
		#learningliberated_div2 {
			
		}
		#learningliberated_div3 {
			background-color:$blue-sky;
			@media (max-width: $screen-sm-max) { 
				background-image:url(/_images/_why/dudes-mobile.png);
				background-repeat:no-repeat;
				background-size: 80% auto;
			}
			.svg-div {
				background-image:url(/_images/_why/dudes.svg);
				background-position:center;
				background-repeat:no-repeat;
				background-size:contain;
				position:absolute;
				top: 20%;
				bottom: 20%;
				left:0;
				right:0;
				@media (min-width: $screen-md-min) { 
					left: 100%;
					right: 0%;
					opacity: 0;
					background-size:auto 200px;
				}
			}
			.viewall_container {
				@media (max-width: $screen-md-max) { 
					display:block;
				}
			}
		}
	//}
	
	//#realcollege {
		#realcollege_div1 {
			
		}
		#realcollege_div2 {
			
		}
		#realcollege_div3 {
			background-color:$gray-intermediate;
			@media (max-width: $screen-sm-max) { 
				background-image:url(/_images/_why/mortar-mob.png);
				background-repeat:no-repeat;
				background-size: 80% auto;
			}
			
			.mortar-fader {
				display:none;
				@media (min-width: $screen-md-min) { 
					display:block;
					background-color:$gray-intermediate;
					position:absolute; 
					left: 50%;
					top: 50%;
					margin-left:-315px;
					width:629px;
					height:500px;
				}
			}
			.svg-div {
				display:none;
				@media (min-width: $screen-md-min) { 
					display:block;
					position:absolute; 
					left: 50%;
					top: 50%;
					margin-left:-315px;
					width:629px;
					height:500px;
					opacity: 1;
					background-image:url(/_images/_why/mortar.svg);
					background-position: 50% bottom;
					background-repeat: no-repeat;
					background-size: 629px auto;
				}
			}
			.mortar-fader, .svg-div {
				@media (min-height: 600px) and (min-width: $screen-md-min) {
					margin-top:-220px;
				}
				@media (min-height: 800px) {
					margin-top:-250px;
				}
			}
			.intro-sub {
				margin-top:-100px;
				@media (min-height: 800px) {
					margin-top:0;
				}
			}		
		}
	//}
	
	//#besurrounded {
		#besurrounded_div1 {
			
		}
		#besurrounded_div3 {
			background-color:$blue-sky;
			@media (max-width: $screen-sm-max) { 
				background-image:url(/_images/_why/clock-mobile.png);
				background-repeat:no-repeat;
				background-size: 80% auto;
			}
			.clockface {
				@media (max-width: $screen-sm-max) { 
					display:table-row;
				}
			}
			
			.svg-div {
				display:none;
				@media (min-width: $screen-md-min) { 
					display:block;
					position:absolute; 
					left: 20%;
					right: 20%;
					top: 20%;
					bottom: 20%;
				}
				img {
					max-height:100%;
				}
			}
			.svg-div-2 {
				@include transition-transform(12s);
				@include transform-rotate(0deg);
				&.six-o-clock {
					@include transform-rotate(220deg);
				}
			}
			.svg-div-3 {
				@include transition-transform(12s);
				@include transform-rotate(0deg);
				&.t1 {
					@include transform-rotate(270deg);
				}
				&.t2 {
					@include transform-rotate(540deg);
				}
				&.t3 {
					@include transform-rotate(810deg);
				}
				&.t4 {
					@include transform-rotate(1080deg);
				}
				&.t4 {
					@include transform-rotate(1350deg);
				}
			}
		}
	//}
	
	//#jumpstart {
		#jumpstart_div1 {
			position:relative;
		}
		#jumpstart_div2 {
			position:relative;
		}
		#jumpstart_div3 {
			background-color:$dark-gray;
			@media (max-width: $screen-sm-max) { 
				background-image:url(/_images/_why/six-stars.png);
				background-repeat:no-repeat;
				background-size: 80% auto;
			}
			.svg-div {
				display:none;
				@media (min-width: $screen-md-min) { 
					display:block;
					position:absolute; 
					left: 0px;
					right: 0px;
					bottom: 50%;
					top: 50%;
					overflow: visible;
				}
				img {
					width:28%;
					height:auto;
					margin:30px 1% 0;
					@media (min-width: $screen-md-min) { 
						width:14%;
						opacity:0;
						margin:0 1% 0 1%;
					}
				}
			}
		}
	//}
	
	//#yourpeople {
		#yourpeople_div1 {
		}
		#yourpeople_div2 {
		}
		#yourpeople_div3 {
			background-color:$yellow;
			@media (max-width: $screen-sm-max) { 
				background-image: url(/_images/_why/pins-mobile.png);
				background-size: 80% auto;
			}
		}
		.svg-div {
			display:none;
			@media (min-width: $screen-md-min) { 
				display:block;
				top:20%;
				bottom:20%;
				left:20%;
				right:20%;
				position:absolute; 
			}
			img {
				height:100%;
				width:auto;
				&.fly-in-pin {
					@media (min-width: $screen-md-min) { position:absolute; }
					width:50px;
					height:auto;
					opacity:0;
					&#pin0 {
						height:50%;
						opacity:0;
					}
					&#pin1 {
						top:0px;
						left:0px;
						@include transform-rotate(-45deg);
					}
					&#pin2 {
						top: 20%;
						left: 2%;
						@include transform-rotate(-35deg);
					}
					&#pin3 {
						top: 30%;
						left: 20%;
						@include transform-rotate(-25deg);
					}
					&#pin4 {
						top: 50px;
						left: 7%;
						@include transform-rotate(-35deg);							
					}
					&#pin5 {
						top: 20px;
						left: 17%;
						@include transform-rotate(-5deg);						
					}
					&#pin6 {
						top: 0px;
						right: 30%;
						@include transform-rotate(25deg);						
					}
					&#pin7 {
						top: 0px;
						right: 24%;
						@include transform-rotate(45deg);						
					}
					&#pin8 {
						top: 80px;
						right: 12%;
						@include transform-rotate(55deg);						
					}
					&#pin9 {
						top: 140px;
						right: 18%;
						@include transform-rotate(65deg);				
					}
					&#pin10 {
						top: 180px;
						right: 10%;
						@include transform-rotate(80deg);				
					}
					&#pin11 {
						top: 310px;
						right: 0%;
						@include transform-rotate(100deg);		
					}
					&#pin12 {
						bottom: 0px;
						right: 0px;
						@include transform-rotate(100deg);		
					}
				}
			}

		}
	//}
	
	//#oncearocker {
		#oncearocker_div1 {
			.dark-gray {
				color:$dark-gray!important;
				transition-property:color;
				transition-duration:0.5s;
			}
			.light-gray {
				color:$light-gray!important;
				transition-property:color;
				transition-duration:0.5s;
			}
		}
		#oncearocker_div2 {
			background-color:$light-gray;
			h1, p {
				color:$dark-gray;
			}
		}
	//}

	#why_subnav .mega-menu {
		@media (min-width: $screen-sm-min) {
			height:auto;
			padding-top:130px;
		}
		padding-bottom:30px;
		ul {
			margin: 0px;
			padding-left: 0px;
			display: flex;
			flex-flow: row wrap;
		}
		li {
			display: flex;
			float: left;
			list-style-type: none;
			padding-right: 0px;
			border-bottom: 1px solid #6E675F;
			margin-right: 2%;
			padding-left: 0px;
			width: 91%;
			@media (min-width: $screen-sm-min) {
				width: 31%;
			}
			font-size: 22px;
		}
		a {
			display: block;
			padding: 20px 7.5px;
			width: 100%;
			color: #FFF;
			&:hover {
				background-color: #BE2126;
				text-decoration:none;
			}
		}
	}
	
	footer { 
		@media (min-width: $screen-sm-min) {
			padding-bottom:100%;
			padding-top:250px;
		}
	}
}