.secondary-nav {
  padding-top: 2rem;
  width: 20%;
  max-width: $margin-secondary-nav;
  float: left;
  @media screen and (max-width:$screen-sm-max) {
    display: none;
  }
  @media screen and (min-width:$screen-xl) {
    position: relative;
    right: $secondary-nav-shift;
    //width: auto;
    margin-top: 2rem;
    padding: 0;
    background: $light-gray;
    .has-hero &{
      right: 0;
    }
  }
}