.aside {    
    background: #efefef;
    padding-bottom: 1em;
    margin-bottom: 1em;
    @media screen and (min-width:$screen-sm) {
      background: none;
      border:1px solid #999;
    }
    p {
      padding-top: 1em;
      margin-bottom: $line-height-computed / 3;
      @media screen and (min-width:$screen-sm) {
        font-weight: bold;
        font-size: 1em; 
    }
       @media screen and (min-width:$screen-md) {
          font-size: .85em;
          line-height: 1.4em;
    }
  } 
}

.h3-subheadline {
  //originally in nested global setting and moved here to apply to contact form oustide of page-container
  margin-bottom: .5rem;
  margin-top: 0;
  @media screen and (min-width: $screen-sm-min) {
    margin-bottom: 1.25rem;
  }
}

/*hanging block quote*/
blockquote:before, blockquote p.blockquote-last:after, .blockquote-mark {
	@media screen and (min-width:$screen-md) {
		color: lighten($blue, 18%); /*lighten the hanging quotes when larger font-size is used */
	}
}

/*add a hanging quote*/
blockquote:before, blockquote.blockquote-long:before {
    content: '\201C';
  	font-size: 4.3em;
  	text-indent: -.5em;
  	float: left;
  	@media screen and (max-width:$screen-md) {
		font-size: 3rem;
	}
	@media screen and (min-width:$screen-md) {
		font-size: 4em;
		text-indent: -.4em;	
		position: relative; 
  		top: .5rem;
  		top: 1.5rem;
  		line-height: 1rem;
	}
}

blockquote.blockquote-long:before{
 font-size:3em; 
 @media screen and (max-width:$screen-md) {
    font-size: 3rem;
  }
  @media screen and (min-width:$screen-md) {
    font-size: 3em;
  }
}

/*add a large quote at end of blockquote*/
blockquote p.blockquote-last:after {
	content: '\201D';
}

/*style quote*/
blockquote p.blockquote-last:after, .blockquote-mark {
  content: '\201D';
  font-size: 1.8em;
  position: relative; 
  line-height: 0;
    @media screen and (min-width:$screen-lg) {
      top: 1.3rem;
    }
    @media screen and (min-width:$screen-md) {
      top: 1.3rem;
    }
    @media screen and (max-width:$screen-md) {
      top: .5rem;
    }
}

/*inset margin*/
blockquote {
	border-left: none;
	margin-left:.3em;
	color: $blue;
		@media screen and (max-width:$screen-md) {
			font-size: 1.5rem;
			margin-bottom: .5rem;
			line-height: 2rem;
		}
		@media screen and (min-width:$screen-md) {
			margin-left: 3em;
			margin-right: 3em;
			margin-top: 2rem;
		}
	&.nested-block {
		margin-top: 1em;
		margin-bottom: 1em;
	}
}


blockquote p, blockquote.blockquote-long p {
	font-style: italic;
	font-size: 3rem;
	line-height: 3.4rem;
	margin-bottom: 0.667rem;
	padding: 0;
		@media screen and (max-width:$screen-md) {
			font-size: 1.5rem;
			margin-bottom: .2rem;
			line-height: 2rem;
		}
}

blockquote.blockquote-long p {
  font-size: 2rem;
  line-height:2.5rem;
  @media screen and (max-width:$screen-md) {
      font-size: 1.5rem;
      margin-bottom: .2rem;
      line-height: 2rem;
    }
}

cite {
	display: block;
	padding-bottom: 0px;
	margin-bottom: 0px;
	font-size: 1.2em;
	font-style: none;
	text-align: right;
	line-height: 1.3em;
	@media screen and (max-width:$screen-md) {
		font-size: 1.2rem;
        text-align: left; /*long citation on small screen will line break and look weird if right aligned*/
	}
}

//see app_home for blockquote overrides

/*secondary CTA*/
.cta-bullet {
    color: $red;
    @include LeHavre(16px);
      &:hover{
        color: $dark-gray;
        text-decoration: none;
      }
}


a.right-arrow, a:link.right-arrow  {
    @extend .cta-bullet;
    @media screen and (max-width:$screen-md-min) {
        font-size: .9em;
      }
  }

/*Use larger bullet CTA when no box link CTA is present*/
a.right-arrow-primary {
    @extend .cta-bullet;
    @media screen and (min-width:$screen-md) {
        @include LeHavre(25px);
    }
}

/*when used in aside, use a slightly larger bullet CTA*/
a.right-arrow-aside {
    @extend .cta-bullet;
    @include LeHavre(20px);
}

.enlarge {
  font-size: 2em; //magic number used on video page
}

.reduce {
  font-size: .6em; //magic number used on video page
}
