.icon-diplomas--before:before,.icon-diplomas--after:after,
.icon-diplomas {
    background-image: url('../_images/png-fallback-icons/diplomas.png');
    background-repeat: no-repeat;
}

.icon-diplomas--before:before, .icon-diplomas--after:after, .z {
    content: "";
    width: 1220px;
    height: 1069px;
}

.icon-faculty-cap--before:before,.icon-faculty-cap--after:after,
.icon-faculty-cap {
    background-image: url('../_images/png-fallback-icons/faculty-cap.png');
    background-repeat: no-repeat;
}

.icon-faculty-cap--before:before, .icon-faculty-cap--after:after, .z {
    content: "";
    width: 110px;
    height: 110px;
}

.icon-faculty-coffee--before:before,.icon-faculty-coffee--after:after,
.icon-faculty-coffee {
    background-image: url('../_images/png-fallback-icons/faculty-coffee.png');
    background-repeat: no-repeat;
}

.icon-faculty-coffee--before:before, .icon-faculty-coffee--after:after, .z {
    content: "";
    width: 110px;
    height: 110px;
}

.icon-faculty-lamp--before:before,.icon-faculty-lamp--after:after,
.icon-faculty-lamp {
    background-image: url('../_images/png-fallback-icons/faculty-lamp.png');
    background-repeat: no-repeat;
}

.icon-faculty-lamp--before:before, .icon-faculty-lamp--after:after, .z {
    content: "";
    width: 110px;
    height: 110px;
}

.icon-faculty-logo--before:before,.icon-faculty-logo--after:after,
.icon-faculty-logo {
    background-image: url('../_images/png-fallback-icons/faculty-logo.png');
    background-repeat: no-repeat;
}

.icon-faculty-logo--before:before, .icon-faculty-logo--after:after, .z {
    content: "";
    width: 110px;
    height: 110px;
}

.icon-faculty-ratio--before:before,.icon-faculty-ratio--after:after,
.icon-faculty-ratio {
    background-image: url('../_images/png-fallback-icons/faculty-ratio.png');
    background-repeat: no-repeat;
}

.icon-faculty-ratio--before:before, .icon-faculty-ratio--after:after, .z {
    content: "";
    width: 110px;
    height: 110px;
}

.icon-graph-building--before:before,.icon-graph-building--after:after,
.icon-graph-building {
    background-image: url('../_images/png-fallback-icons/graph-building.png');
    background-repeat: no-repeat;
}

.icon-graph-building--before:before, .icon-graph-building--after:after, .z {
    content: "";
    width: 59px;
    height: 75px;
}

.icon-graph-female--before:before,.icon-graph-female--after:after,
.icon-graph-female {
    background-image: url('../_images/png-fallback-icons/graph-female.png');
    background-repeat: no-repeat;
}

.icon-graph-female--before:before, .icon-graph-female--after:after, .z {
    content: "";
    width: 41px;
    height: 85px;
}

.icon-graph-flag--before:before,.icon-graph-flag--after:after,
.icon-graph-flag {
    background-image: url('../_images/png-fallback-icons/graph-flag.png');
    background-repeat: no-repeat;
}

.icon-graph-flag--before:before, .icon-graph-flag--after:after, .z {
    content: "";
    width: 60px;
    height: 60px;
}

.icon-graph-male--before:before,.icon-graph-male--after:after,
.icon-graph-male {
    background-image: url('../_images/png-fallback-icons/graph-male.png');
    background-repeat: no-repeat;
}

.icon-graph-male--before:before, .icon-graph-male--after:after, .z {
    content: "";
    width: 35px;
    height: 85px;
}

.icon-graph-people--before:before,.icon-graph-people--after:after,
.icon-graph-people {
    background-image: url('../_images/png-fallback-icons/graph-people.png');
    background-repeat: no-repeat;
}

.icon-graph-people--before:before, .icon-graph-people--after:after, .z {
    content: "";
    width: 59px;
    height: 78px;
}

.icon-graph-piggy-bank--before:before,.icon-graph-piggy-bank--after:after,
.icon-graph-piggy-bank {
    background-image: url('../_images/png-fallback-icons/graph-piggy-bank.png');
    background-repeat: no-repeat;
}

.icon-graph-piggy-bank--before:before, .icon-graph-piggy-bank--after:after, .z {
    content: "";
    width: 58px;
    height: 54px;
}

.icon-logo-bg--before:before,.icon-logo-bg--after:after,
.icon-logo-bg {
    background-image: url('../_images/png-fallback-icons/logo-bg.png');
    background-repeat: no-repeat;
}

.icon-logo-bg--before:before, .icon-logo-bg--after:after, .z {
    content: "";
    width: 46px;
    height: 73px;
}

.icon-major-biology--before:before,.icon-major-biology--after:after,
.icon-major-biology {
    background-image: url('../_images/png-fallback-icons/major-biology.png');
    background-repeat: no-repeat;
}

.icon-major-biology--before:before, .icon-major-biology--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-creative-writing--before:before,.icon-major-creative-writing--after:after,
.icon-major-creative-writing {
    background-image: url('../_images/png-fallback-icons/major-creative-writing.png');
    background-repeat: no-repeat;
}

.icon-major-creative-writing--before:before, .icon-major-creative-writing--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-cross-cultural-relations--before:before,.icon-major-cross-cultural-relations--after:after,
.icon-major-cross-cultural-relations {
    background-image: url('../_images/png-fallback-icons/major-cross-cultural-relations.png');
    background-repeat: no-repeat;
}

.icon-major-cross-cultural-relations--before:before, .icon-major-cross-cultural-relations--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-literary-studies--before:before,.icon-major-literary-studies--after:after,
.icon-major-literary-studies {
    background-image: url('../_images/png-fallback-icons/major-literary-studies.png');
    background-repeat: no-repeat;
}

.icon-major-literary-studies--before:before, .icon-major-literary-studies--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-music--before:before,.icon-major-music--after:after,
.icon-major-music {
    background-image: url('../_images/png-fallback-icons/major-music.png');
    background-repeat: no-repeat;
}

.icon-major-music--before:before, .icon-major-music--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-photography--before:before,.icon-major-photography--after:after,
.icon-major-photography {
    background-image: url('../_images/png-fallback-icons/major-photography.png');
    background-repeat: no-repeat;
}

.icon-major-photography--before:before, .icon-major-photography--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-politics--before:before,.icon-major-politics--after:after,
.icon-major-politics {
    background-image: url('../_images/png-fallback-icons/major-politics.png');
    background-repeat: no-repeat;
}

.icon-major-politics--before:before, .icon-major-politics--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-pre-engineering--before:before,.icon-major-pre-engineering--after:after,
.icon-major-pre-engineering {
    background-image: url('../_images/png-fallback-icons/major-pre-engineering.png');
    background-repeat: no-repeat;
}

.icon-major-pre-engineering--before:before, .icon-major-pre-engineering--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-psychology--before:before,.icon-major-psychology--after:after,
.icon-major-psychology {
    background-image: url('../_images/png-fallback-icons/major-psychology.png');
    background-repeat: no-repeat;
}

.icon-major-psychology--before:before, .icon-major-psychology--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-major-theater--before:before,.icon-major-theater--after:after,
.icon-major-theater {
    background-image: url('../_images/png-fallback-icons/major-theater.png');
    background-repeat: no-repeat;
}

.icon-major-theater--before:before, .icon-major-theater--after:after, .z {
    content: "";
    width: 80px;
    height: 80px;
}

.icon-nsse-logo--before:before,.icon-nsse-logo--after:after,
.icon-nsse-logo {
    background-image: url('../_images/png-fallback-icons/nsse-logo.png');
    background-repeat: no-repeat;
}

.icon-nsse-logo--before:before, .icon-nsse-logo--after:after, .z {
    content: "";
    width: 148px;
    height: 286px;
}

.icon-person-at-podium--before:before,.icon-person-at-podium--after:after,
.icon-person-at-podium {
    background-image: url('../_images/png-fallback-icons/person-at-podium.png');
    background-repeat: no-repeat;
}

.icon-person-at-podium--before:before, .icon-person-at-podium--after:after, .z {
    content: "";
    width: 280px;
    height: 600px;
}

